.auth-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f7fb;
  padding:20px;
}

.auth-card{
  width:100%;
  max-width:450px;
  background:#fff;
  border-radius:20px;
  padding:35px;
  box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.auth-header{
  text-align:center;
  margin-bottom:30px;
}

.auth-icon{
  font-size:55px;
  color:#0d6efd;
}

.form-group{
  margin-bottom:20px;
}

.form-group label{
  display:block;
  margin-bottom:8px;
  font-weight:600;
}

.input-box{
  position:relative;
}

.input-box i{
  position:absolute;
  left:15px;
  top:50%;
  transform:translateY(-50%);
  color:#0d6efd;
}

.form-control{
  width:100%;
  padding:14px 14px 14px 45px;
  border:2px solid #ddd;
  border-radius:12px;
}

.form-control:focus{
  outline:none;
  border-color:#0d6efd;
}

.reset-btn{
  width:100%;
  background:#0d6efd;
  color:#fff;
  border:none;
  padding:14px;
  border-radius:12px;
  font-weight:600;
}

.reset-btn:hover{
  background:#0b5ed7;
}

.auth-footer{
  text-align:center;
  margin-top:20px;
}

.auth-footer a{
  color:#0d6efd;
  text-decoration:none;
  font-weight:600;
}